.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .display_message {
    background-color: #bfe2c5;
    color: #340b0f;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .display_message i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .products {
    margin-top: 30px;
  }
  
  .product_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .edit_form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product_image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product_name {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .price {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
  
  .submit_btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2e74df;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit_btn:hover {
    background-color: #0056b3;
  }
  
/* cart */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.heading {
  text-align: center;
  margin: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.empty_text {
  text-align: center;
  margin: 50px;
  font-weight: bold;
  font-size: 50px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-top: 50px;
}

table th, table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Table header styles */
table th {
  background-color: #f2f2f2;
}

/* Quantity input styles */
.quantity_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity_box input[type="number"] {
  width: 50px;
  padding: 5px;
  margin-right: 5px;
}

.quantity_box input[type="submit"] {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.table_bottom {
  text-align: right;
  min-width: 40%;
  float: right;
  margin: 50px 0px;

  padding: 10px;
  border-radius: 5px;
}

.line {
  border-bottom: 2px solid black; /* Add a 1px solid bottom border */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.bottom_txt {
  padding: 10px 20px;
  color: #131313;
  border-radius: 10px;
}

/* Bottom button styles */
.bottom_btn {
  padding: 15px 25px;
  background-color:  #0056b3;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px 5px;
  min-width: 50%;
}

.bottom_btn:hover {
  background-color:#27d221;
}

.delete_all_btn {
  float: right;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.delete_all_btn:hover {
  background-color: #c82333;
}

.detail_btn {
  margin: 5px;
  padding: 5px;
  min-width: 40%;
  border-radius: 5px;
  background-color: #5988bc;
  border: none;
}
