/* Navbar styling */
.navbar {
    padding: 5px 0; 
    height: 70px;
}

.navbar-brand {
    font-weight: bold; 
}

.yellow-text {
    color: black!important;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-right: 15px; 
}

.cart .nav-link {
    position: relative;
}

.cart .nav-link sup {
    position: absolute;
    top: -0px;
    right: -8px;
    color: black; 
    border-radius: 50%; 
    padding: 4px 7px; 
    font-size: 12px;
}

.nav-link {
    padding: 5px 10px; 
    transition: color 0.3s ease; 
    color: black !important; 
}

.nav-link .cart{
    padding: 5px 10px; 
    transition: color 0.3s ease; 
    color: black !important; 
}

.nav-link:hover {
    color: white !important;
    font-weight: bold;
}


/*Footer*/
.footer {
    padding: 50px 0;
    color: black;
}

text {
    color: black;
}

.footer h3 {
    margin-bottom: 20px; /* Spacing below heading */
}

.footer p {
    margin-bottom: 10px; /* Spacing below paragraphs */
}

.footer ul.list-inline {
    padding-left: 0; 
}

.footer ul.list-inline li {
    display: inline-block;
    margin-right: 10px; 
}

.footer ul.list-inline li:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

.footer ul.list-inline li a {
    color: black; 
}

.footer ul.list-inline li a:hover {
    color: #fff;
}

